# PostgreSQL
POSTGRES_USER=dufief
POSTGRES_PASSWORD=change_me_in_prod
POSTGRES_DB=dufief
POSTGRES_PORT=5432

# Redis
REDIS_PORT=6379

# Backend
BACKEND_PORT=3000
JWT_SECRET=change_me_in_prod_use_a_long_random_string_min_32_chars
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d

# Frontend
FRONTEND_PORT=4200
